<h1><a href="/">Point of Sale</a></h1>
<form action="/products" method="post">
  <label for="name">Product Name</label>
  <input id="name" name="name" type="text">
<br>
  <label for="price">Product Price</label>
  <input id="price" name="price" type="text">
<br>

  <button type="submit" class="btn">Submit</button>
</form>
<ul>
    <% @products.each() do |product| %>
        <li><a href="/products/<%= product.id %>"><%= product.name %></a> $<%= product.price %></li>
    <% end %>
</ul>
