<h1><a href="/">Point of Sale</a></h1>
<ul>
    <li><%= @product.name %></li>
    <li><%= @product.price %></li>
    <form action="/products/<%= @product.id %>" method="post">
      <input type="hidden" name="_method" value="patch">

      <label for="name">Edit product name:</label>
      <input type="text" name="name" id="name">

      <button type="submit">Update</button>
<br>
      <label for="price">Edit product price:</label>
      <input type="text" name="price" id="price">

      <button type="submit">Update</button>

    </form>
    <form id="/products/<%= @product.id %>" method="post">
      <input type="hidden" name="_method" value="delete">

      <button type="submit">Delete</button>

    </form>
</ul>
